In [1]:
import random
import numpy as np
import pandas as pd
from scipy.io import arff
import vizro.plotly.express as px

In [ ]:
arff_train = arff.loadarff('../data/01_raw/CounterMovementJump_TRAIN.arff')
arff_test = arff.loadarff('../data/01_raw/CounterMovementJump_TEST.arff')

In [ ]:
train_dataset = pd.DataFrame(arff_train[0])
train_dataset

In [ ]:
test_dataset = pd.DataFrame(arff_test[0])
test_dataset

In [ ]:
columns = ["a_x", "a_y", "a_z"]

n_examples_train = len(train_dataset["relationalAttr"])
n_examples_test = len(test_dataset["relationalAttr"])
n_columns = len(train_dataset["relationalAttr"].iloc[0])
n_timestamps = len(train_dataset["relationalAttr"].iloc[0][0])

n_examples_train, n_examples_test, n_columns, n_timestamps

In [ ]:
for i_ex in range(n_examples_train):
    data = {}
    start_time_stamp = pd.Timestamp('2023-01-01') + pd.to_timedelta(random.randint(0, 365 * 24 * 60 * 60), unit='s') + pd.to_timedelta(random.randint(0, 1000), unit='us')
    index = pd.date_range(start=start_time_stamp, periods=n_timestamps, freq=pd.Timedelta(seconds=1/1024))
    for i_col in range(n_columns):
        data[columns[i_col]] = np.array(train_dataset["relationalAttr"].iloc[i_ex][i_col].tolist())

    df_ex = pd.DataFrame(data=data, index=index)
    df_ex.to_parquet(f"../data/01_raw/train/counter_movement_jump_{i_ex}.pq")

In [ ]:
for i_ex in range(n_examples_test):
    data = {}
    start_time_stamp = pd.Timestamp('2023-01-01') + pd.to_timedelta(random.randint(0, 365 * 24 * 60 * 60), unit='s') + pd.to_timedelta(random.randint(0, 1000), unit='us')
    index = pd.date_range(start=start_time_stamp, periods=n_timestamps, freq=pd.Timedelta(seconds=1/1024))
    for i_col in range(n_columns):
        data[columns[i_col]] = np.array(test_dataset["relationalAttr"].iloc[i_ex][i_col].tolist())

    df_ex = pd.DataFrame(data=data, index=index)
    df_ex.to_parquet(f"../data/01_raw/test/counter_movement_jump_{i_ex}.pq")

In [ ]:
i_ex = 400
df = pd.read_parquet(f"../data/01_raw/train/counter_movement_jump_{i_ex}.pq")

px.line(df)

In [2]:
df = px.data.iris()
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3
146,6.3,2.5,5.0,1.9,virginica,3
147,6.5,3.0,5.2,2.0,virginica,3
148,6.2,3.4,5.4,2.3,virginica,3
149,5.9,3.0,5.1,1.8,virginica,3

In [3]:
df.to_csv("../data/02_intermediate/iris.csv")